#what .items {
    display: block;
    padding: 1rem;
}


#what .items .item{
    display: flex;
    text-align: left;
}

#what .items .item i{
    margin-right: 1.2rem;
    align-self: center;
}

/* Smartphones */
html{
    font-size: 14px;
}


#navbar{
    flex-direction: column;
    text-align: center;
    align-items: center;
}

#navbar .logo{
    margin-bottom: 1.3rem;
    text-align: center;
}

#navbar ul{
    padding: 0.5rem;
}
#showcase{
height: 60vh;
}
#showcase .showcase-content{
    top: 317px;
    bottom: 192px;
    height: 0;
}


#who{
    display: block;
}

#who .who-img{
    display: none;
}


#clients .items img{
    width: 80%;
}

#clients .items div:last-child{
    display: none;
}

#contact{
    flex-direction: column;
}

footer{
    font-size: 12px;
}